<div class="wrapper">
  <p class="title">
    Let`s edit question!
  </p>

  <form [formGroup]="createQuestionForm" (ngSubmit)="onSubmit()" class="question-form">
    <mat-form-field class="question-input-field" appearance="fill">
      <textarea
        formControlName="question"
        matInput
        placeholder="What`s the difference between var, const and let? *"
      ></textarea>
    </mat-form-field>

    <mat-radio-group
      formControlName="typeOfQuestion"
      class="radio-buttons"
      aria-label="Select an option"
      (input)="changeTypeOfQuestion($event)"
    >
      <mat-radio-button class="radio-button" value="Single">Single Choice</mat-radio-button>
      <mat-radio-button class="radio-button" value="Multiple">Multiple Choice</mat-radio-button>
      <mat-radio-button class="radio-button" value="Open">Open</mat-radio-button>
    </mat-radio-group>

    <div *ngIf="isSingle" class="container-single-choice">
      <div *ngFor="let option of listOfOptions.controls; let idx=index" formArrayName="options">
        <mat-form-field *ngIf="option.value.isRight" appearance="fill" [formGroupName]="idx">
          <mat-label>Correct option</mat-label>
          <input matInput formControlName="option">
        </mat-form-field>

        <div
          *ngIf="!option.value.isRight"
          class="option-input"
        >
          <mat-form-field appearance="fill" [formGroupName]="idx">
            <mat-label>Wrong option</mat-label>
            <input matInput formControlName="option">
          </mat-form-field>
          <button
            mat-raised-button
            class="remove-button"
            *ngIf="amountOfWrongOptions > 1"
            (click)="removeOption(idx)"
          >Remove</button>
        </div>
      </div>

    </div>

    <div class="container-multiple-choice" *ngIf="isMultiple">
      <div
        *ngFor="let option of listOfOptions.controls; let idx=index"
        class="option-input"
        formArrayName="options"
      >
        <div
          *ngIf="option.value.isRight"
          class="option-input"
        >
          <mat-form-field appearance="fill" [formGroupName]="idx">
            <mat-label>Correct option</mat-label>
            <input matInput formControlName="option">
          </mat-form-field>
          <button
            mat-raised-button
            class="remove-button"
            *ngIf="amountOfCorrectOptions > 1"
            (click)="removeOption(idx)"
          >Remove</button>
        </div>

        <div
          *ngIf="!option.value.isRight"
          class="option-input"
        >
          <mat-form-field appearance="fill" [formGroupName]="idx">
            <mat-label>Wrong option</mat-label>
            <input matInput formControlName="option">
          </mat-form-field>

          <button
            mat-raised-button
            class="remove-button"
            *ngIf="amountOfWrongOptions > 1"
            (click)="removeOption(idx)"
          >Remove</button>
        </div>
      </div>

    </div>

    <div
      class="container-open-choice"
      *ngIf="isOpen"
      formArrayName="options"
    >
      <div *ngFor="let option of listOfOptions.controls; let idx=index">
        <mat-form-field [formGroupName]="idx" appearance="fill">
          <mat-label>Correct option</mat-label>
          <input matInput formControlName="option">
        </mat-form-field>
      </div>
    </div>

    <button
      mat-raised-button
      class="add-button"
      (click)="addOption('correct')"
      *ngIf="!isSingle && !isOpen"
    >Add correct option</button>

    <button
      mat-raised-button
      class="add-button"
      (click)="addOption('wrong')"
      *ngIf="!isOpen"
    >Add wrong option</button>
  </form>

  <div class="buttons">
    <button (click)="previousPage()" class="button-back" mat-raised-button><-Back</button>
    <button (click)="onSubmit()" class="button-create" mat-raised-button>Edit</button>
  </div>
</div>
