<!--<pre>{{ questionCards$ | async | json}}</pre>-->
<div class="wrapper">
  <div *ngIf="questionCards$ | async as questionsInfo;">
    <div class="list-of-cards" *ngFor="let card of questionsInfo.listOfQuestions; index as idx">
      <mat-card class="card">
        <mat-card-content>
          <p class="text-question">{{ card.question }}</p>
          <p class="type-question">{{ card.typeOfQuestion }}</p>
        </mat-card-content>
        <mat-card-subtitle class="date-question">{{ card.dateOfCreation | date:'dd.MM.yyyy' }}</mat-card-subtitle>
        <mat-card-actions class="radio-buttons">
          <button class="card-edit-button" (click)="editCard(idx)" mat-raised-button>Edit</button>
          <button class="card-delete-button" (click)="deleteCard(idx)" mat-raised-button>Delete</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <p *ngIf="questionsInfo.listOfQuestions.length === 0" class="empty-list">You haven`t created any question cards yet. <br> So let`s add one!</p>

    <div class="buttons-management">
      <button
        class="create-button"
        (click)="createQuestion()"
        mat-raised-button
      >Create question</button>

      <button
        class="create-button"
        [disabled]="!(questionsInfo.listOfQuestions.length > 0)"
        (click)="answerQuestions()"
        mat-raised-button
      >Answer Questions</button>
    </div>
  </div>
</div>


